.preview {
  padding: 15px;
  border: 1px dashed black;
  outline: 100px solid red;
  position: fixed;
  bottom: 0;
  right: 0;
  /*transform: scale(.04) translate(1198%, 1198%);*/

  h2 {
    margin: 0 0 15px;
    line-height: 1em;
    font-size: 3em;
  }

  button {
    font-size: 2em;
  }
}

.preview-header {
  margin-bottom: 15px;
  text-align: center;
}
